*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-container{
    height: 100vh;
    width: 100%;
}

body{
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1740916856932-7b02aeca973b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    margin-top: -20px;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 50% dark overlay */
    backdrop-filter: blur(1px);
    z-index: -1;
}

nav{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

input::placeholder {
    color: white;
    opacity: 1;
    padding-left: 40px;
    font-size: 16px;
}

.search-container {
    position: relative;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 68px;
}

.search-container input {
    padding: 15px;
    width: 700px;
    background-color: rgba(233, 177, 220, 0.427);
    border: none;
    border-radius: 50px;
    color: white;
}

.search-container .fa-search{
    position: absolute;
    left: 20px;
    color: rgb(255, 255, 255);
}

.search-container .fa-sliders{
    position: absolute;
    right: 20px;
    color: rgb(255, 255, 255);
}

.fa-bars{
    color: white;
}

.fa-circle-question{
    color: white;
    font-size: 22px;
}

.fa-gear{
    color: white;
    font-size: 21px;
}

.fa-search{
    color: white;
    font-size: 20px;
}

.fa-braille{
    color: white;
    font-size: 21px;
}

.fa-circle-user{
    color: white;
    font-size: 21px;
}

nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    margin-top: -20px;
}

.main-container .aside{
    /* background-color: black; */
    width: 270px;
    height: 690px;
    padding: 8px;
}

.main-container .email-listing-container{
    background-color: rgba(250, 245, 245, 0.908);
    width: 1300px;
    height: 690px;
    border-radius: 20px;
}

.main-container .right-side-toolbar{
    /* background-color: black; */
    width: 60px;
    height: 505px;
}

.right-side-toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 36px;
    /* position: relative; */
}

.right-side-toolbar img:first-child{
    margin-top: 20px;
}

.right-side-toolbar img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.right-side-toolbar .fa-plus{
    color: white;
    font-size: 14px;
}

.right-side-toolbar .fa-angle-right{
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 24px;
    color: white;
}

.right-side-toolbar hr{
    border: 1px solid rgb(208, 208, 208);
    width: 50%;
}

.main-container .aside{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.aside .message-compose{
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    width: 62%;
}

.aside .message-compose a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.aside .aside-btn{
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: left;
    padding: 8px 10px;    
}

.aside .aside-btn:hover{
    background-color: rgba(255, 255, 255, 0.252);
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    padding: 8px 10px;
}

.aside .aside-btn p{
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.aside .aside-btn-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.aside .aside-icon-left{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside-upgrade-btn{
    position: absolute;
    bottom: 0px;
    width: 240px;
    background-color: rgba(239, 239, 239, 0.262);
    border-radius: 20px;
    padding: 8px 5px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.upgrade-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

