*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.page-container{
    height: 100vh;
    width: 100%;
}

body{
    position: relative;
    background-image: url('https://images.unsplash.com/photo-1740916856932-7b02aeca973b?q=80&w=1932&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(2px);
    margin-top: -20px;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3); /* 50% dark overlay */
    backdrop-filter: blur(1px);
    z-index: -1;
}

nav{
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

input::placeholder {
    color: white;
    opacity: 1;
    padding-left: 40px;
    font-size: 16px;
}

.search-container {
    position: relative;
    /* display: inline-block; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 68px;
}

.logo{
    cursor: pointer;
}

.search-container input {
    padding: 15px;
    width: 700px;
    background-color: rgba(233, 177, 220, 0.427);
    border: none;
    border-radius: 50px;
    color: white;
}

.search-container .fa-search{
    position: absolute;
    left: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.search-container .fa-sliders{
    position: absolute;
    right: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.fa-bars{
    color: white;
    cursor: pointer;
}

.fa-circle-question{
    color: white;
    font-size: 22px;
    cursor: pointer;
}

.fa-gear{
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.fa-search{
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.fa-braille{
    color: white;
    font-size: 21px;
    cursor: pointer;
}

.fa-circle-user{
    color: white;
    font-size: 21px;
    cursor: pointer;
}

nav .nav-right{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.main-container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
    gap: 15px;
    margin-top: -20px;
}

.main-container .aside{
    /* background-color: black; */
    width: 270px;
    height: 690px;
    padding: 8px;
}

.main-container .email-listing-container{
    background-color: rgba(250, 245, 245, 0.908);
    width: 1300px;
    height: 690px;
    border-radius: 20px;
}

.main-container .right-side-toolbar{
    /* background-color: black; */
    width: 60px;
    height: 505px;
}

.right-side-toolbar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 36px;
    /* position: relative; */
}

.right-side-toolbar img:first-child{
    margin-top: 20px;
}

.right-side-toolbar img{
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.right-side-toolbar .fa-plus{
    color: white;
    font-size: 14px;
    cursor: pointer;
}

.right-side-toolbar .fa-angle-right{
    color: white;
    font-size: 14px;
    position: absolute;
    bottom: 24px;
    color: white;
    cursor: pointer;
}

.right-side-toolbar hr{
    border: 1px solid rgb(208, 208, 208);
    width: 50%;
}

.main-container .aside{
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: relative;
}

.aside .message-compose{
    margin-bottom: 15px;
    padding: 20px;
    background-color: white;
    border-radius: 16px;
    width: 62%;
}

.aside .message-compose a{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    color: black;
    font-weight: 500;
}

.aside .aside-btn{
    margin-top: -5px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: left;
    padding: 8px 10px;    
}

.aside .aside-btn:hover{
    background-color: rgba(255, 255, 255, 0.252);
    border-radius: 0px 20px 20px 0px;
    cursor: pointer;
    padding: 8px 10px;
}

.aside .aside-btn p{
    font-size: 14px;
    color: white;
    font-weight: 500;
}

.aside .aside-btn-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.aside .fa-inbox{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside .fa-clock{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside .fa-paper-plane{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside .fa-star{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside .fa-file{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside .fa-angle-down{
    color: rgba(243, 243, 243, 0.762);
    font-size: 16px;
}

.aside-upgrade-btn{
    position: absolute;
    bottom: 0px;
    width: 240px;
    background-color: rgba(239, 239, 239, 0.262);
    border-radius: 20px;
    padding: 8px 5px;
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-around;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.upgrade-left{
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
}

.list-options{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    font-size: 13px;
}

.list-option-left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: white;
}

.check{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 6px;
    color: rgb(90, 90, 90);
    cursor: pointer;
}
.checkbox{
    color: rgb(90, 90, 90);
    cursor: pointer;
    background-color: none;
}

.fa-rotate-right{
    color : rgb(90, 90, 90);
    cursor: pointer;
}
.fa-caret-down{
    color : rgb(90, 90, 90);
    font-size: 12px;
    cursor: pointer;
}
.fa-ellipsis-vertical{
    color : rgb(90, 90, 90);
    cursor: pointer;
}
.fa-angle-left{
    color : rgb(168, 168, 168);
    cursor: pointer;
}
.fa-angle-right{
    color : rgb(90, 90, 90);
    cursor: pointer;
}
.fa-table-columns{
    color : rgb(90, 90, 90);
    cursor: pointer;
}
.fa-caret-down{
    color : rgb(90, 90, 90);
    cursor: pointer;
}
.fa-keyboard{
    color : rgb(90, 90, 90);
    cursor: pointer;
}
.list-option-right p{
    color: rgb(168, 168, 168);
    cursor: pointer;
}

.split-panel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.input-tool{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    color: white;
    cursor: pointer;
}

.list-option-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    color: white;
}

.mail-list-tabs{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: start;
    padding: 0px 30px;
    width: 90%;
}

.primary{
    padding: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    width: 20%;
    /* background-color: black; */
    border-bottom: 4px solid blue;
    cursor: pointer;
}

.primary .fa-inbox{
    color: blue;
    font-size: 16px;
}

.primary p{
    color: blue;
    font-size: 16px;
    font-weight: 500;
}

.promotion-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    cursor: pointer;
}

.promotion{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
}
.promotion p:last-child{
    background-color: green;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 1px 4px;
}

.fa-tag{
    color: gray;
}

.promo-con{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
}

.promo-con h1{
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

/* Social */

.social-container{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
    cursor: pointer;
}

.social{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 7px;
    font-size: 14px;
}
.social p:last-child{
    background-color: blue;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    padding: 1px 4px;
}

.fa-users{
    color: gray;
}

.social-con{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    gap: 4px;
}

.social-con h1{
    font-size: 12px;
    color: gray;
    font-weight: 500;
}

.forums{
    padding: 15px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: start;
    font-size: 14px;
    width: 20%;
    cursor: pointer;
}

.fa-comments{
    color: gray;
}

.tabs-horizontal-rule{
    border-bottom: 1px solid rgba(204, 204, 204, 0.689);
    width: 100%;
    margin-top: -5pt;
}

.email-horizontal-rule{
    border-bottom: 1px solid rgba(204, 204, 204, 0.689);
    width: 100%;
    /* margin-top: -5pt; */
}

.email-lists{
    display: flex;
    flex-direction: column;
    padding: 3px;
    align-items: center;
    justify-content: start;
}

.email{
    display: flex;
    flex-direction: row;
    padding: 10px 15px;
    align-items: start;
    justify-content: space-between;
    width: 100%;
    font-size: 13px;
    cursor: pointer;
}

.e-left{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 16%;
}

.e-left input{
    color: gray;
}

.e-left .fa-star{
    color: gray;
}

.e-middle{
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: start;
    justify-self: start;
    width: 72%;
}

.e-right{
    width: 5%;
}

.e-right h3{
    font-size: 13px;
}